.App{
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
@keyframes bounce{
  0%{
    transform: translateY(10px);
  }
50%{
  transform: translateY(0);
}
  100%{
    transform : translateY(10px);
  }

} 
